<!-- As a link -->
<div class="head-nav-cont row">
  <div class="col-sm-2">
    <header>
      <a class="logo">
        <img src="../../../assets/img/brand-logo.png" alt="">
      </a>
    </header>
  </div>

  <nav class="navbar navbar-light bg-light col-sm">
    <a class="navbar-brand pass"
       routerLink="/password"
       routerLinkActive="active">
      <i class="fa fa-user-secret"></i>
      <span>Password</span>
    </a>
    <a class="navbar-brand check"
       routerLink="/checklist"
       routerLinkActive="active">
      <i class="fa fa-check-square"></i>
      <span>Checklist</span>
    </a>
    <a class="navbar-brand"
       routerLink="/customize"
       routerLinkActive="active">
      <i class="fa fa-pencil-square-o"></i>
      <span>Customize</span>
    </a>
  </nav>

  <div class="user-info col-sm-2"></div>
</div>

